aim==3.17.5
aiodns==3.0.0
airbyte_cdk==0.51.5
aleph_alpha_client==3.3.0
alibabacloud_ha3engine==1.3.5
alibabacloud_tea_util==0.3.11
altair_saver==0.5.0
altair_viewer==0.4.0
apify_client==1.4.0
AppKit==0.2.8
arango==0.2.1
arcgis==2.1.0.3
argilla==1.14.1
arize==7.4.0
arthurai==3.27.0
asynctest==0.13.0
atheris==2.2.2
atlassian==0.0.0
azure_storage==0.37.0
bagel==0.3.2
banana_dev==5.0.2
bibtexparser==1.4.0
bilibili_api==9.1.0
bjoern==3.2.2
bokeh==3.2.2
boto3==1.28.34
botocore==1.31.34
brotli==1.0.9
brotlicffi==1.0.9.2
cassio==0.1.0
cchardet==2.1.7
cerebrium==1.5.4
cftime==1.6.2
chart_studio==1.1.0
Cheetah==2.4.4
cherrypy==18.8.0
chromadb==0.4.7
clarifai_grpc==9.7.3
clearml==1.12.2
clickhouse_connect==0.6.9
comet_ml==3.33.9
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==41.0.3
ctypes_snappy==1.03
curio==1.6
cx_Oracle==8.3.0
cycler==0.11.0
Cython==3.0.0
cytoolz==0.12.2
datadog_api_client==2.16.0
datasets==2.14.4
defusedxml==0.7.1
diesel==3.0.24
dingodb==0.0.2
disco==1.40.4
Django==4.2.1
dl==0.1.0
doctran==0.0.9
docutils==0.20.1
docx2txt==0.8
duckdb==0.8.1
email_validator==2.0.0.post2
esprima==4.0.1
eventlet==0.33.3
extract_msg==0.45.0
fake_useragent==1.2.1
fastparquet==2023.7.0
feedparser==6.0.10
firebase_admin==6.2.0
fitz==0.0.1.dev2
flup==1.0.3
flytekit==1.9.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2023.6.0
genapi==0.0.8
geopandas==0.13.2
gevent==23.7.0
gitdb_speedups==0.1.0
google_api_python_client==2.97.0
google_auth_oauthlib==1.0.0
googlemaps==4.10.0
gptcache==0.1.40
gql==3.4.1
greenlet==2.0.2
grpc_status==1.0.0
guardrails==2.0.0
gunicorn==21.2.0
h2==4.1.0
HTMLParser==0.0.2
hypothesis==6.82.6
idna_ssl==1.1.0
infinopy==0.0.1
InstructorEmbedding==1.0.1
ipython==8.14.0
ipywidgets==8.1.0
isoduration==20.11.0
jnius==1.1.0
joblib==1.3.2
JPype1==1.4.1
jq==1.4.1
jsonpointer==2.4
keyring==24.2.0
label_studio_sdk==0.0.30
langchain_experimental==0.0.10
langchainhub==0.1.10
langkit==0.0.16
lark==1.1.7
librosa==0.10.1
listparser==0.19
lockfile==0.12.2
lxml==4.9.3
Mako==1.2.4
markdownify==0.11.6
matplotlib==3.7.2
meinheld==1.0.2
metal_sdk==2.0.2
mlflow==2.6.0
modelscope==1.8.4
mtrand==0.1
mwparserfromhell==0.6.4
mwxml==0.3.3
neo4j==5.11.0
nest_asyncio==1.5.7
networkx==3.1
newspaper==0.1.0.7
nltk==3.8.1
nomic==2.0.6
nucliadb_protos==2.22.0.post592
numarray==1.5.1
Numeric==24.2
O365==2.0.27
oauth2client==4.1.3
obs==0.0.0
octoai==0.1.1
odfpy==1.4.1
odps==3.5.1
olefile==0.46
openapi_schema_pydantic==1.2.4
openpyxl==3.1.2
outcome==1.2.0
PasteScript==3.3.0
pdf2image==1.16.3
pdfminer==20191125
pdfplumber==0.10.2
pexpect==4.8.0
pickle5==0.0.12
pinecone_text==0.5.3
pkgutil_resolve_name==1.3.10
plotly==5.16.1
polars==0.18.15
praw==7.7.1
promptlayer==0.1.98
psutil==5.9.5
psychicapi==0.8.4
py==1.11.0
pyairtable==2.1.0.post1
pycares==4.3.0
pycurl==7.45.2
pydub==0.25.1
pyepsilla==0.1.7
pygraphviz==1.11
PyInstaller==5.13.0
pymilvus==2.3.0
pymongo==4.5.0
pyOpenSSL==23.2.0
pyowm==3.3.0
pypdf==3.15.2
PyPDF2==3.0.1
pypdfium2==4.18.0
pyperf==2.6.1
PyQt4==4.11.4
PyQt5==5.15.9
PyQt6==6.5.2
PySide2==5.15.2.1
PySide6==6.5.2
pyspark==3.4.1
pysqlcipher3==1.2.0
pysrt==1.1.2
pytesseract==0.3.10
pytest==7.4.0
pytest_mock==3.11.1
python-dotenv==1.0.0
python-socketio==5.8.0
pytube==15.0.0
pyu2f==0.1.5
pyxlsb==1.0.10
qcloud_cos==3.3.6
qdrant_client==1.4.0
qtpy==2.3.1
railroad==0.5.0
rank_bm25==0.2.2
rapidfuzz==3.2.0
rdflib==7.0.0
reportlab==4.0.4
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rocket==1.2.8
rockset==2.1.0
runhouse==0.0.10
s3fs==2023.6.0
scipy==1.11.2
selenium==4.11.2
sentence_transformers==2.2.2
sets==0.3.2
setuptools_scm==7.1.0
simplejson==3.19.1
slack_sdk==3.21.3
snowflake==0.0.3
socksio==1.0.0
sodapy==2.2.0
spacy==3.6.1
speedups==1.2.0
Sphinx==7.2.3
sqlcipher3==0.5.1
statsmodels==0.14.0
steamship==2.17.25
svglib==1.5.1
sympy==1.12
tables==3.8.0
telethon==1.29.3
tensorflow_text==2.13.0
testbench==0.1.2
text_generation==0.6.0
textstat==0.7.3
threadpoolctl==3.2.0
tigrisdb==1.0.0b6
tiktoken==0.4.0
tokenizers==0.13.3
tokio==0.2.0
torch==2.0.1
traitlets==5.9.0
trio_typing==0.9.0
trove_classifiers==2023.8.7
truststore==0.7.0
tweepy==4.14.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvloop==0.17.0
vespa==0.6
waitress==2.1.2
watchdog==3.0.0
webcolors==1.13
whylogs==1.3.1
wolframalpha==5.0.0
xarray==2023.8.0
xlrd==2.0.1
xlsxwriter==3.1.2
xmlrpclib==1.0.1
xmltodict==0.13.0
youtube_search==2.1.2
youtube_transcript_api==0.6.1
yt_dlp==2023.7.6
zep_python==1.0.2
